/* 
.form__group {    
    margin: 10px; 
        
}

.input__text{
    display: block;
    width: 90%;
    height: 36px;
    border-width: 0 0 1px 0;
    border-color: #212245;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 10px;
    outline: none;
}
.form__btn{
    margin-top: 6px;
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #df2020;
    border: none;
    border-radius: 5px;
}

.checkout__bill{
    background-color: #fde4e4;
    border-radius: 5px;
    margin-top: 40px;
    padding: 30px;
}
.checkout__total{
    border-top: 1px solid #ddd;
    padding-top: 30px;
}
 */
 /*================================================================*/

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 .payment{
     min-width: 360px;
     margin: 30px;
     background-color: #fde4e4;
     padding: 35px;
     border-radius: 5px;
     position: relative;
 }
 .payment h2{
     text-align: center;
     color: #0d3c64;
 }
 .cardd label{
     color: #666666;
     display: block;
     margin-bottom: 6px;
 }
 .form .input{
     padding: 7px 0 7px 15px;
     width: 100%;
     border: 2px solid #dddddd;
     border-radius: 5px;
     word-wrap: 3px;
     outline: none;
     font-size: 16px;
     color: #555555;
 }
